In [11]:
import pandas as pd
d=pd.read_csv('decision.csv')
d.head()

  company job degree  salary
0  google   s      b     0.0
1  google   s      m     0.0
2  google   b      b     1.0
3  google   b      m     1.0
4  google   c      b     0.0

In [12]:
from sklearn.preprocessing import LabelEncoder
lc=LabelEncoder()
lj=LabelEncoder()
ld=LabelEncoder()
d['co']=lc.fit_transform(d.company)
d['jo']=lc.fit_transform(d.job)
d['de']=lc.fit_transform(d.degree)
d.head()
d=d.drop(['company','job','degree'],axis='columns')

In [16]:
d=d.dropna()
d

    salary  co  jo  de
0      0.0   2   2   0
1      0.0   2   2   1
2      1.0   2   0   0
3      1.0   2   0   1
4      0.0   2   1   0
5      1.0   2   1   1
6      0.0   0   2   1
7      0.0   0   1   0
8      0.0   0   0   0
9      1.0   0   0   1
10     1.0   1   2   0
11     1.0   1   2   1
12     1.0   1   0   0
13     1.0   1   0   1
14     1.0   1   1   0
15     1.0   1   1   1

In [21]:
from sklearn import tree
m=tree.DecisionTreeClassifier()
x=d[['co','jo','de']]
y=d[['salary']]
m.fit(x,y)
#m.predict([2,2,0])
m.score(x,y)

1.0